
.sect-title{
    margin: 50px;
    padding: 20px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    color: #94511e;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 2px;


}