.list-details {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto;
  padding: 20px;
  overflow: hidden;
}


.list-details li {
  list-style: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

}
.animated-element {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

.slide-in {
  opacity: 1;
  transform: translateY(0);
  animation: slideIn 2s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.list-details li:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.sub-list {
  display: flex;
  justify-content: space-between;
}

.list-details li h6 {
  font-weight: 500;
  margin: 47px 2px 0px 6px;
  color: #8a5911;
  font-size: 19px;
  font-family: "Teko";
  letter-spacing: 1px;
}

.list-details li h5 {
  margin: 13px 5px 13px 21px;
  font-family: "Teko";
  color: #b3b1ae;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 400;
}
